#account-login .card-account-left {
  background: -webkit-gradient(linear, left top, right top, from(#0056B6), to(#3CA8CD));
  background: -webkit-linear-gradient(left, #0056B6, #3CA8CD);
  background: -moz-linear-gradient(left, #0056B6, #3CA8CD);
  background: -o-linear-gradient(left, #0056B6, #3CA8CD);
  background: linear-gradient(90deg, #0056B6, #3CA8CD);
  border-radius: 5px 0 0 5px; }
  #account-login .card-account-left .card-account-img {
    position: relative;
    top: -webkit-calc(50% - 50px);
    top: -moz-calc(50% - 50px);
    top: calc(50% - 50px); }

#account-login .card-account-right {
  border-radius: 0 5px 5px 0; }
