.bg-info {
    background-color: #1c1c1c !important;
}
.main-menu.menu-light {
    background: #1c1c1c !important;
}
.main-menu.menu-light .navigation {
    background: #1c1c1c;
}
html body {
    height: 100%;
    background-color: #111111;
    direction: ltr;
}
.card {
    background-color: #1c1c1c;
}
.main-menu.menu-light .navigation > li {
    border-bottom: 2px solid #e8e8e8;
}
.navigation {
    /*font-size: 14px;*/
    /*font-weight: 900;*/
    font-weight: 400;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
    margin-left: 0px;
}
html body .content .content-wrapper {
    padding: 1.5rem;
    padding-top: 10px;
}
.main-menu.menu-light .navigation li a {
    color: #b2b2b2;
}
.main-menu.menu-light .navigation > li {
    border-bottom: 2px solid #b2b2b2;
}
.navbar-semi-light .navbar-nav .nav-link {
    color: #b2b2b2;
}
#account_wallet{
    color: #b2b2b2; 
}
.blue-grey.lighten-2 {
    color: #8e8e8e !important;
}
.card-header:first-child {
    background-image: linear-gradient(to bottom right, #313131, #313131);
}
.card-header .card-title {
    margin-bottom: 0;
    color: #b2b2b2;
}
.card-header {
    border-bottom: unset !important;
}
table{
    text-align: center;
    color: #000;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
}

*:not(.gem-table):not(.cart_totals) > table:not(.shop_table):not(.group_table):not(.variations) td {
    border-top: 0px solid #dfe5e8;
    border-bottom: 1px solid #dfe5e8;
    /*border-left: 0px solid #fff;
    border-right: 0px solid #dfe5e8;*/
    background-color: rgba(255, 255, 255, 0.5);
}
.card {
    background-image: linear-gradient(to right bottom, rgb(48, 48, 48), rgb(1, 1, 1));

}
.card-header:first-child {
    border-radius: -webkit-calc(0.35rem - 1px) -webkit-calc(0.35rem - 1px) 0 0;
    border-radius: -moz-calc(0.35rem - 1px) -moz-calc(0.35rem - 1px) 0 0;
    background-image: linear-gradient(to bottom right, #313131, #313131);
    border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
    color: #b0b0b0;

}
.card-header .card-title {
    color: #b0b0b0;
}

.nav.nav-tabs .nav-item .nav-link.active {
    background-color: #313131;
    border: 1px solid #02020226;
}
html body a {
    color: #b0b0b0;
}
.nav-tabs {
    border-bottom: 1px solid #313131;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #313131;
    border-top: 1px solid #313131;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.6px;
    background: rgb(34, 34, 34);
}
.table-bordered th, .table-bordered td {
    border: 1px solid #313131;
}
table {
    text-align: center;
    color: #b0b0b0;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
}
.table-bordered td {
    border: 1px solid #313131;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(28, 28, 28);
}
*:not(.gem-table):not(.cart_totals) > table:not(.shop_table):not(.group_table):not(.variations) td {
    border-top: 0px solid #313131;
    border-bottom: 1px solid #313131;
    /*border-left: 0px solid #fff;
    border-right: 0px solid #dfe5e8;*/
    background-color: unset;
    font-weight: 500;
    font-size: 16px;
        color: #1c1c1c;
}
.main-menu.menu-light .navigation > li.active > a {
    color: #fff;
    /*font-weight: 700;*/
    font-weight: 400;
}
a:hover {
    color: #fff !important;
    text-decoration: none;
}
form label {
    color: #b2b2b2;
}
.main-menu.menu-light .navigation > li.open > a {
    color: #545766;
    background: #313131 !important;
    border-right: 4px solid #1B65D3;
}

.my-itera {
    color: #fff;
}

.my-itera .card .card-header h6, .card-body h1 {
    color: #fff;
}
.rating-num {
    color: #b0b0b0;
}
.downlink-head, .right-downlink-box h5 {
    color: #b0b0b0;
    text-transform: none;
}

/* For dark & light form */
.form-box {
    box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.1);
    border-radius: 2px 2px 0px 0px;
}
.form-box .form-heading {
    background-image: linear-gradient(to right bottom, rgb(48, 48, 48), rgb(1, 1, 1)) !important;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #121212;
    border-radius: 3px 3px 0px 0px;
    background: unset;
}
.form-body {
    background-image: linear-gradient(to right bottom, rgb(48, 48, 48), rgb(1, 1, 1));
    padding: 20px;
    border-radius: 0px 0px 3px 3px;
}
.btn-gradient-css {
    color: #282828 !important;
    background-image: linear-gradient(to bottom, #f4f4f4, #ededed, #e7e7e7, #e0e0e0, #dadada);
    width: 100px;
    padding: 10px;
    box-shadow: 1px 1px 0px 1px rgba(239, 239, 239, 0.3);
    border: none;
    border-radius: 6px;
    font-weight: 800;
    -webkit-appearance: button;
}
/* For dark & light form */

.table-striped tbody tr:nth-of-type(even) {
    background: rgb(34, 34, 34);
}
/* account value font */
.text-color {
    color: #fff !important;
}

.border-first-top {
    border-top: 2px solid #b2b2b2;
}

#light_btn{
    border-color: #1c1c1c;
    color: #fff;
}

#dark_btn{
    border-color: #1c1c1c;
    color: #fff;
}

#light_btn:hover {
    background-color: #1c1c1c;
     border-color: #fff;
}
#dark_btn:hover {
    background-color: #1c1c1c;
     border-color: #fff;
}