/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.custom-control-label::before{
	display: none;
}
.name-tddata .col-md-6 {
	padding: 0px;
}

.name-tddata small {
	display: block;
}
.my-itera .card {
	background-color: #e9e7e7;
}
.my-itera .col-md-6 {
	padding: 0px;
}
.my-itera .card a {
	display: inline-flex;
}
.rating .fa {
	color: #efce4a;
}
.percent-background {
	background: #37b2b8;
    color: #fff;
    border-radius: 100%;
    padding-top: 14px;
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
}


/* START: Form css */

.form-box {
	box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.1);
	border-radius: 2px 2px 0px 0px;
}
.form-box .form-heading {
    background: #f1f1f1;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 3px 3px 0px 0px;
}
.form-body {
	background: #f7f7f7;
	padding: 20px;
	border-radius: 0px 0px 3px 3px;
}
.btn-gradient-css {
	color: #282828 !important;
	background-image: linear-gradient(to bottom, #f4f4f4, #ededed, #e7e7e7, #e0e0e0, #dadada);
    width: 100px;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
    border: none;
    border-radius: 6px;
    font-weight: 600;
    -webkit-appearance: button;
    font-family: "SF-UI-Display", sans-serif;
}
/* END: Form css */

.custom-margin-nav {
    margin-top: 80px !important;
}

@media (max-width: 767px) {
    .custom-margin-nav {
        margin-top: 0px !important;
    }
    .user-text {
        margin-right: 0rem !important;
    }
}
.custom-padding-column {
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
    body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
        margin-left: 0px;
    }
}
.user-text {
    margin-right: 1rem;
}

/* table css */
.dataTables_wrapper .dataTables_length label {
    margin-left: 15px;
}
.dataTables_wrapper .dataTables_filter label {
    margin-right: 15px;
}
.dataTables_wrapper .dataTables_info {
    margin-left: 15px;
}
.dataTables_wrapper .dataTables_paginate {
    margin: 0px 15px 10px 0px;
}

.name-tddata img {
    float: left;
    margin-right: 5px;
}
.table tr td {
    vertical-align: middle;
}