.bg-info {
    background-color: #f1f1f1 !important;
}
.main-menu.menu-light {
    background: #f1f1f1 !important;
}
.main-menu.menu-light .navigation {
    background: #f1f1f1;
}
html body {
    height: 100%;
    background-color: #e8e8e8;
    direction: ltr;
}
.card {
    background-color: #ffffff;
}
.main-menu.menu-light .navigation > li {
    border-bottom: 2px solid #e8e8e8;
}
.navigation {
    /*font-size: 14px;*/
    /*font-weight: 900;*/
    font-weight: 400;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
    margin-left: 0px;
}
html body .content .content-wrapper {
    padding: 1.5rem;
    padding-top: 10px;
}
table{
    text-align: center;
    color: #000;
    font-size: 15px;
    line-height: 25px;
    white-space: nowrap;
}

*:not(.gem-table):not(.cart_totals) > table:not(.shop_table):not(.group_table):not(.variations) td {
    border-top: 0px solid #dfe5e8;
    border-bottom: 1px solid #dfe5e8;
    /*border-left: 0px solid #fff;
    border-right: 0px solid #dfe5e8;*/
    /*background-color: rgb(247, 247, 247);*/
    font-weight: 500;
    font-size: 16px;
     color: #1c1c1c;
}
/* account value font */
.text-color {
    color: #000 !important;
}

.border-first-top {
    border-top: 2px solid #e8e8e8;
}

#light_btn{
    border-color: #f1f1f1;
    color: #000;
}

#dark_btn{
    border-color: #f1f1f1;
    color: #000;
}

#light_btn:hover {
    background-color: #000;
}
#dark_btn:hover {
    background-color: #000;
}